<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductInformation"/>
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://localhost:4600/ProductDetailsService/Service.svc" binding="webHttpBinding" contract="ProductDetailsContracts.IProductDetails" behaviorConfiguration="WebBehavior"/>
          <endpoint address="http://localhost:4500/ProductInformationService/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductInformation" contract="ProductInformationService.IProductInformation" name="BasicHttpBinding_IProductInformation"/>
        </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="WebBehavior">
            <webHttp/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
